/* Fonts */
/*$primary-color: teal; */
html body {
  font: 16px/24px "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  background-color: white; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 1rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*------------HEM-------------*/
.frontpage-img {
  display: none; }

.frontpage-img-small {
  padding-top: 1rem;
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.social-media-wrap {
  width: 100%;
  padding-right: 1.2rem;
  text-align: right; }

.social-media {
  margin: .1rem;
  color: black; }
  .social-media:hover {
    transition: all 0.3s ease;
    transform: scale(0.9); }

.mail {
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
  color: black; }

.mail:hover {
  color: #00ffff; }

.skew-bottom {
  background: #00FFFF;
  box-sizing: border-box;
  height: 40vh;
  width: 100%;
  position: relative; }

.skew-bottom:before {
  content: "";
  background: #FF00FF;
  height: 130px;
  transform: skewY(-10deg);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1; }

.skew-bottom:before {
  top: -60px; }

/*------------FRONTEND-------------*/
.wripwrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*RUBRIK*/
.header {
  min-width: 100%;
  padding: 0 0 0 3px;
  margin: 0;
  background-color: yellow; }

/*NAVIGATION*/
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100%; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

li {
  margin-right: 10px;
  padding: 0 1rem 0 1rem;
  margin: 1rem 0 1rem 0; }

ul li a {
  text-decoration: none;
  color: black; }

.nav a:link {
  color: #000000; }

.nav a:active {
  color: #0000ff;
  text-decoration: underline; }

.nav a:visited {
  color: #000000; }

.nav a:hover {
  color: #000000;
  text-decoration: underline; }

.firstpage-nav {
  padding-left: 1%;
  text-align: left;
  min-width: 100%; }
  .firstpage-nav h1 {
    font-size: 1.4rem; }

.yellow h1 {
  background-color: white; }

.yellow h1:hover {
  /*	padding:.3rem;*/
  background-color: yellow;
  text-decoration: none; }

.yellow h1 a {
  text-decoration: none; }

.underline {
  text-decoration: underline; }

.blue {
  background-color: #00ffff; }

.nav-button {
  background-color: yellow; }

.intro {
  margin: 1rem;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 120%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

p {
  padding: 0;
  margin: 0; }

/*.img-circle{
 width: 200px;
 height: 200px;
 background-image: url();
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}*/
/*PROJEKT*/
.project-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  width: 100%; }

.flex-container {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }

.flex-item1 {
  width: 330px;
  height: 300px;
  border: 6px solid yellow;
  margin-bottom: 0; }
  .flex-item1 img {
    width: 100%;
    height: 100%; }

.flex-item-text {
  width: 330px;
  margin-bottom: 1.5rem;
  padding: .5rem;
  background-color: yellow;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 120%; }

.contain {
  object-fit: cover; }

/*.contain2:hover{
	object-fit: contain;
}

*/
/*.contain2 span {
  visibility: hidden;
}

.contain2:hover span {
  visibility: visible;
}

.contain2 span:not(:hover) {
  visiblity: hidden;
  transition: visibility 5s;
}
*/
.box-shadow-3d {
  box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black, 6px 6px 0px black, 7px 7px 0px black, 8px 8px 0px black, 9px 9px 0px black; }

.knapp {
  background-color: white;
  text-decoration: none;
  margin-bottom: .5rem;
  padding: .2rem;
  border: 2px solid black;
  width: 10rem;
  height: 2.5rem; }

.knapp a {
  color: black;
  text-decoration: none; }

.knapp:hover {
  background-color: #00ffff;
  color: black;
  /*	background-color: #7FFFFF;*/
  /*	background-color:#FF99FF;*/ }

.knapp:active {
  color: black;
  transform: rotate(10deg); }

.flex-item {
  width: 300px;
  height: 300px; }

@media screen and (min-width: 543px) {
  .social-media {
    width: 8%;
    margin: .5rem; }

  .project-box {
    width: 80%; }

  .skew-bottom {
    display: none; } }
@media screen and (min-width: 800px) {
  .frontpage-img-small {
    display: none; }

  .frontpage-img {
    display: block;
    padding-left: 10%;
    width: 100%;
    height: 100%; }

  .social-media-wrap {
    width: 80%; } }
@media screen and (min-width: 825px) and (max-width: 900px) {
  .flex-item-text {
    background-color: white;
    margin: 0 0 1rem 0; }

  .flex-item1 {
    margin-bottom: 1rem; }

  .project-box {
    width: 80%; }

  .social-media-wrap {
    width: 80%; } }
/* Mellan/Stor */
@media screen and (min-width: 900px) {
  .frontpage-img {
    width: 100%; }

  .header {
    min-width: 60%; }

  .intro {
    font-size: 1.5rem;
    padding: 1rem; }

  .flex-item1 {
    margin-bottom: 1rem; }

  .flex-item-text {
    background-color: white;
    margin: 0 0 1rem 0;
    padding-top: 0; }

  .nav {
    min-width: 20%; }

  .project-box {
    width: 62%; }

  .social-media-wrap {
    width: 80%; }

  .social-media {
    width: 35px;
    margin: .5rem; }

  .skew-bottom {
    display: none; } }

/*# sourceMappingURL=main.css.map */
