
@media screen and (min-width: 543px) {
 
.social-media{
	width:8%;
	margin:.5rem;
}
.project-box{
	width:80%;
}

.skew-bottom{
	display: none;
}
}

@media screen and (min-width: 800px) {
.frontpage-img-small{
	display:none;
}

.frontpage-img{
	display:block;
	padding-left:10%;
	width:100%; 
	height: 100%;
}
.social-media-wrap{
	width:80%;  
}

}
@media screen and (min-width: 825px) and (max-width: 900px){

.flex-item-text{
	background-color:white;
	margin:0 0 1rem 0;
}
.flex-item1{
	margin-bottom:1rem;
}
.project-box{
	width:80%;
}
.social-media-wrap{
	width:80%; 
 
}
}
/* Mellan/Stor */ 
@media screen and (min-width: 900px) {

.frontpage-img{
	width:100%;
}

.header{
	min-width:60%;
}
.intro{
	font-size: 1.5rem;
	padding: 1rem;
}
.flex-item1{
	margin-bottom:1rem;
	transform: none;
	margin-top:0;
}

.flex-item-text{
	background-color:white;
	margin:0 0 1rem 0;
	padding-top: 0;
}
.nav{
	min-width:20%;
}
.project-box{
	width:62%;
}
.social-media-wrap{

width:80%;

}
.social-media{
	width:35px;
	margin:.5rem;
}
.skew-bottom{
	display: none;
}


}